.lbl{
    border: 2px solid black;
    padding: 4px
}

.icons-div{
    
    margin-left: auto;
    display: inline-flex;
    gap: 10px;
}

.note-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* .chck-bx{
    background-color: chartreuse;
} */